body{
    margin: 0;
    padding: 0;
}
.input_nota{
    height: 2em;
    width: 8em;
    text-align: center;
}

td{
    text-align: center;
}

th{
    text-align: center;
}

#lista_bimestre button{
    margin-top: 2em;
    margin-left: 40%;
}

#top img{
    padding: 1em;
    width: 11em;
}

#top h2{
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0px 20%;
}

#top h4{
    margin: 0px 32%;
    font-size: 1.3em;
}